// Body
$body-bg: #333333;
$green: #2d9a5b;

$card-bg-color: #181a1b;
$card-border-color: rgba(140, 130, 115, 0.13);
$hearder-border-color:#353a3c;

$body-color: #d1cdc7;
$link-color: #459ddf;
$link-hover-color: #6fb3e6;

$sidebar-bg-color:#1b1e1f;
$sidebar-link-color: #c8c3bc;
$sidebar-link-border: #33383a;
$sidebar-link-border-active: #003b7b;
$sidebar-level-color-active: #33a2ff;

$sidebar-link-hover-bg: #191b1c;
$sidebar-link-hover-border: #393d40;
$sidebar-link-active-bg: #181a1b;
$sidebar-link-active-color: #33a2ff;
$sidebar-link-active-border: #33383a;

$sidebar-link-parent-bg: #202325;
$sidebar-link-parent-border: #363a3d;
$sidebar-link-parent-hover-bg: #1f2123;
$sidebar-link-parent-collapsed-bg: #9d9488;

$form-control-color: #b5afa6;
$form-control-bg: #181a1b;
$form-control-border: #3c4144;
$form-control-focus-color: #b5afa6;
$form-control-focus-bg: #181a1b;
$form-control-focus-border: #144773;
$form-control-focus-shadow: rgba(28, 103, 165, 0.25);
$form-control-dark-color: #e8e6e3;
$form-control-dark-bg: rgba(24, 26, 27, 0.1);
$form-control-dark-border: rgba(48, 52, 54, 0.1);
$form-control-dark-focus-shadow: rgba(24, 26, 27, 0.25);

$search-autocomplete-a-bg: #1b1e1f;
$search-autocomplete-a-border: #393d40;
$search-autocomplete-a-color: #b2aca2;
$search-autocomplete-div-color: #e8e6e3;
$search-autocomplete-span-color: #a8a095;
$search-autocomplete-active-bg: #181a1b;
$search-autocomplete-highlight-bg: #342f00;
$search-autocomplete-a-active-color: #50cc85;

$path-input-color: #e8e6e3;
$path-ext-color: #a8a095;

$markdown-link-color: #4cacfc;
$markdown-pre-color: #d1cdc7;
$markdown-pre-bg: #1c1e1f;

$table-border-color: #383d3f;
$table-tr-bg-odd: #181a1b;
$table-tr-bg-even: #1c1e1f;
$table-tr-boder-color: #3f4446;

$blockquote-border-color: #383d3f;
$blockquote-color: #9f978a;

$task-list-item-outline: #0ab30e;
$task-list-item-checked: #393e40;

$nomnoml-text-color: #f8f8f8;

$minimap-area-bg: #212325;
$minimap-content-bg: #181a1b;
$minimap-scroller-color: #74808F;

$editor-column-border: #3e4446;
$editor-bottom-actions-bg: #1b1d1e;
$editor-bottom-actions-border: #3c4143;
$editor-bottom-actions-hover-bg: #181a1b;

$ace-bg: #181a1b;
$ace-color: #e8e6e3;
$ace-cursor-color: #e8e6e3;
$ace-selection-bg: #2d3133;
$ace-gutter-bg: #232628;
$ace-gutter-color: #c8c3bc;
$ace-print-margin-bg: #25282a;
$ace-autocomplete-color: #dddad6;
$ace-cursor-border: #b30000;
$ace-function: #99b0c9;
$ace-operator: #9d9487;
$ace-variable: #70c0d0;
$ace-heading: #1e6fff;
$ace-list: #f94cd2;
$ace-active-line: #ffffff12;
$ace-tag: #f06adc;
$ace-string: #6f9be8;
$ace-attribute-name: #f6a064;
$ace-comment: #8bda8c;
$ace-selected-word-bg: #333;
$ace-selected-word-border: rgb(100, 50, 180);

$toc-span-bg: rgba(0, 0, 0, 0.08);
$toc-span-border: rgba(140, 130, 115, 0.25);
$toc-div-bg: rgba(0, 0, 0, 0.08);
$toc-div-border: rgba(140, 130, 115, 0.25);
$toc-a-color: #c8c3bc;
$toc-a-bg: #1b1d1e;
$toc-a-border: #34393b;
$toc-a-hover-color: #33a2ff;
$toc-a-hover-bg: #191b1c;
$toc-a-hover-border: rgba(0, 86, 179, 0.53);
$toc-active-border: #393d40;

$drop-overlay-bg: rgba(24, 26, 27, 0.84);

$modal-content-bg: #181a1b;
$modal-content-border: rgba(140, 130, 115, 0.2);
$modal-inner-border: #383d3f;
