
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// @import 'darkly';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Blueimp gallery
@import '~blueimp-gallery/css/blueimp-gallery';
@import '~blueimp-gallery/css/blueimp-gallery-indicator';
.blueimp-gallery > .indicator > li {
  width: 25px;
  height: 25px;
  background-size: cover;
  border-radius: 0;
}
.blueimp-gallery > .indicator > li:after {
  top:-75px;
  margin-left:12px
}
.blueimp-gallery > .indicator > li:after, .blueimp-gallery > .indicator > li:hover:after {
  transition: none;
  border-radius: 0;
}
.blueimp-gallery > .prev, .blueimp-gallery > .next {
  background: transparent;
  border: 0;
  border-radius: 0;
  text-shadow: none;
  color: #fff !important;
  opacity: 0.8;
}
.blueimp-gallery > .prev:hover, .blueimp-gallery > .next:hover {
  opacity: 1;
}
.blueimp-gallery,
.blueimp-gallery > .slides > .slide > .slide-content {
  -webkit-transition: opacity 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

// Sidebar layout
@import 'sidebar';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Highlight JS
@import '~highlight.js/styles/github';
// @import '~highlight.js/styles/monokai-sublime'; // darkly


// Github markdown
@import '~github-markdown-css/github-markdown';
.markdown-body {
  box-sizing: border-box;
  padding: 20px 20px 40px;

  .task-list-item {
    list-style-type: none;
  }
  .task-list-item + .task-list-item {
    margin-top: 3px;
  }
  .task-list-item input {
    margin: 0 .2em .25em -1.3em;
    vertical-align: middle;
    outline: 1px solid #0ccf10;

    &:checked {
      outline: 1px solid #e0dddd;
    }

    &.task-list-progress {
      outline: 1px solid #42adff;
    }
  }

  img {
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
// Small images on preview
.images-small img {
    height:50px !important;
}

// Editor
#mdEditor {
  position: absolute; /* Added */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  /*height: auto !important;*/
}

// Vue Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity 50.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-opacity {
  opacity: 0;
  transition: opacity 0.4s ease-in;
  // // -ms-transition: opacity 0.4s ease-in;
  // // -moz-transition: opacity 0.4s ease-in;
  // // -webkit-transition: opacity 0.4s ease-in;

  &.fade-opacity-show {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  //   // -ms-transition: opacity 0.4s ease-out;
  //   // -moz-transition: opacity 0.4s ease-out;
  //   // -webkit-transition: opacity 0.4s ease-out;
  }
}

// Header file path
.path-header-input {
  position:relative;

  input, span {
    font-family: monaco;
    border: 0;
    background: transparent;
    font-size:0.9rem;
    display: block;
    padding: 1px;
    margin: 0;
  }

  input {
    position: absolute;
    width: 100%;
  }

  span {
    visibility: hidden;
  }
}
.path-header-extension, .path-header-title {
  font-family: monaco;
  border: 0;
  background: transparent;
  font-size:0.9rem;
}
.path-header-input span, .path-header-extension {
  color:#999;
}

$toc-content-width-out: 300px;
$toc-content-width-in: $toc-content-width-out - 4px;
.toc-open {
  position:absolute;
  top:60px;
  right:25px;
  z-index: 9999;

  > div {
    width:15px;
    height:15px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.25);
    max-height: calc(100% - 70px);
    overflow: hidden;
    opacity: 0.5;

    transition: opacity 0.1s ease-in-out;

    > div {
      display: none;
      width: 100%;
      padding:10px 15px 10px;
    }

    h6 {
      font-weight: bold;
      text-align: center;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      ul {
        margin-left: 15px;
      }

      a {
        display: block;
        font-size: 15px;

        span {
          color:#aaa;
          display: inline-block;
          position:relative;
          top:-1px;
        }

        &:hover {
          text-decoration: none;

          span {
            color:#333;
          }
        }

      }
    }
  }

  &:hover {
    top:40px;
    right: 5px;
    padding:20px 20px 50px 50px;

    > div {
      background-color: #F7F7F7;
      overflow-y: auto;
      overflow-x: visible;
      min-width: 300px;
      width: auto;
      max-width: 600px;
      height: auto;
      border-radius: 0px;
      opacity: 1;
      border: 1px solid rgba(0, 0, 0, 0.125);

      > div {
        display: block;
      }
    }
  }
}

// Darkly adjust
/*.markdown-body {
  color: white;
  h1, h2 {
    border-bottom-color:rgba(255, 255, 255, 0.1);
  }
  a {
    color: #38c172;
  }
  .highlight pre, pre, code {
    background-color: #23241F;
  }
}
.path-header-input input {
  color:white;
}
.sidebar {
  border-right: 1px solid #222;
  box-shadow: none;
}
.sidebar .nav-link {
  color: white;
}
.sidebar .nav-link.active {
  color: #38c172;
  background: #333;
  border-right: none;
  outline: 1px solid #1a1a1a;
}
.sidebar .nav-link:hover {
  background: #444;
  border-right: none;
}*/

.graph-container {
  margin: 0 0 16px;
  font-size: 14px;

  .label foreignObject {
      font-size: 90%;
      overflow: visible;
  }
}
