
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// @import 'darkly';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Blueimp gallery
@import '~blueimp-gallery/css/blueimp-gallery';
@import '~blueimp-gallery/css/blueimp-gallery-indicator';
.blueimp-gallery > .indicator > li {
  width: 25px;
  height: 25px;
  background-size: cover;
  border-radius: 0;
}
.blueimp-gallery > .indicator > li:after {
  top:-75px;
  margin-left:12px
}
.blueimp-gallery > .indicator > li:after, .blueimp-gallery > .indicator > li:hover:after {
  transition: none;
  border-radius: 0;
}
.blueimp-gallery > .prev, .blueimp-gallery > .next {
  background: transparent;
  border: 0;
  border-radius: 0;
  text-shadow: none;
  color: #fff !important;
  opacity: 0.8;
}
.blueimp-gallery > .prev:hover, .blueimp-gallery > .next:hover {
  opacity: 1;
}
.blueimp-gallery,
.blueimp-gallery > .slides > .slide > .slide-content {
  -webkit-transition: opacity 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

// Sidebar layout
@import 'sidebar';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Highlight JS
@import '~highlight.js/styles/github';
// @import '~highlight.js/styles/monokai-sublime'; // darkly


// Github markdown
@import '~github-markdown-css/github-markdown';
.markdown-body {
  box-sizing: border-box;
  padding: 20px 20px;

  .task-list-item {
    list-style-type: none;
  }
  .task-list-item + .task-list-item {
    margin-top: 3px;
  }
  .task-list-item input {
    margin: 0 .2em .25em -1.3em;
    vertical-align: middle;
    outline: 1px solid #0ccf10;

    &:checked {
      outline: 1px solid #e0dddd;
    }

    &.task-list-progress {
      outline: 1px solid #42adff;
    }
  }

  img {
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
// Small images on preview
.images-small img {
    height:50px !important;
}

// Editor
#mdEditor {
  position: absolute; /* Added */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  /*height: auto !important;*/
}

// Vue Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity 50.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

// Header file path
.path-header-input {
  position:relative;

  input, span {
    font-family: monaco;
    border: 0;
    background: transparent;
    font-size:0.9rem;
    display: block;
    padding: 1px;
    margin: 0;
  }

  input {
    position: absolute;
    width: 100%;
  }

  span {
    visibility: hidden;
  }
}
.path-header-extension, .path-header-title {
  font-family: monaco;
  border: 0;
  background: transparent;
  font-size:0.9rem;
}
.path-header-input span, .path-header-extension {
  color:#999;
}

// Darkly adjust
/*.markdown-body {
  color: white;
  h1, h2 {
    border-bottom-color:rgba(255, 255, 255, 0.1);
  }
  a {
    color: #38c172;
  }
  .highlight pre, pre, code {
    background-color: #23241F;
  }
}
.path-header-input input {
  color:white;
}
.sidebar {
  border-right: 1px solid #222;
  box-shadow: none;
}
.sidebar .nav-link {
  color: white;
}
.sidebar .nav-link.active {
  color: #38c172;
  background: #333;
  border-right: none;
  outline: 1px solid #1a1a1a;
}
.sidebar .nav-link:hover {
  background: #444;
  border-right: none;
}*/
